<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <customBinding>
          <binding name="Z_HH_CASE">
            <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                       messageVersion="Soap11" writeEncoding="utf-8">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </textMessageEncoding>
            <httpTransport authenticationScheme="Basic" realm="SAP NetWeaver Application Server [I48/902]"/>
          </binding>
        </customBinding>
      </bindings>
      <client>
        <endpoint address="http://i48lp1.informatik.tu-muenchen.de:8048/sap/bc/srt/rfc/sap/z_hh_case/902/z_hh_case/z_hh_case"
            binding="customBinding" bindingConfiguration="Z_HH_CASE"
            contract="Case.Z_HH_CASE" name="Z_HH_CASE" />
      </client>
    </system.serviceModel>
</configuration>